.banner {
  background-image: url(../../images/background.jpg);
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  height: 312px;
}


h1 {
  color: black;
}

.banner p {
  color: black;
  text-shadow: black;
  opacity: .7;
  font-size: 20px;
  width: 500px;
}
.btn-primary {
  display: inline-block;
  background-color: #0a97b0;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}

.btn-primary:hover {
  opacity: 1;
  background: green;
  text-decoration: none;
  color: white;
}
